/* some style */

html {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
    cursor: default;
}

.screen__background {
    background: black;
    color: white;
    width: calc(1.3 * 95vh);
    height: 95vh;
    position: relative;
}

.battleViz {
    grid-area: 1 / 1 / span 5 / span 16;
    border: 3px solid lightgray;
    border-radius: 8px;
    margin: 2px;
    display: flex;
    flex-direction: column-reverse;
}

.battleVis__logItem {
    font-size: 200%;
    line-height: 1em;
}

.screen__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(12, minmax(auto, 1fr)) / repeat(16, minmax(auto, 1fr));
    grid-gap: 1%;
    font-size: 2.1vmin;
    line-height: 0;

}

/*ENEMY CARDS*/

.enemyGrid {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(18, 1fr);
    width: 100%;
    height: 100%;
    border: 1px solid darkGray;
    border-radius: 4px;
    margin-right: 3%;
    position: relative;
    right: 0.75rem;
}

.enemyGrid__name {
    grid-area: 1 / 1 / span 2 / span 9;
    /*background-color: orange;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.enemyGrid__status {
    grid-area: 1 / 10 / span 2 / span 9;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemyGrid__statsAndResists {
    grid-area: 3 / 1 / span 3 / span 18;
    /*background-color: pink;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemyGrid__stats {
    height: 90%;
    flex: 2;
    display: grid;
    grid-template: 2fr 1fr / repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.enemyGrid__resists {
    height: 90%;
    /*background: green;*/
    flex: 1;
}

.enemyGrid__atb {
    grid-area: 6 / 1 / span 1 / span 18;
    /*background-color: lime;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftPad {
    padding-left: 5%;
}

.leftPadLg {
    padding-left: 10%;
}

/*CHARACTER CARDS*/

.charGrid {
    margin-left: 3%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(12, 1fr);
    width: 100%;
    height: 100%;
}

.charGrid__name {
    grid-area: 1 / 1 / span 2 / span 5;
    /*background: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.charGrid__primaryStats {
    grid-area: 1 / 6 / span 2 / span 4;
    /*background: pink;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.charGrid__primaryStatsChild {
    font-size: 155%;
}

.charGrid__secondaryAndResists {
    grid-area: 3 / 1 / span 1 / span 9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.charGrid__secondaryStats {
    height: 100%;
    flex: 2;
    display: grid;
    grid-template: 2fr 1fr / repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.charGrid__resists {
    height: 100%;
    /*background: green;*/
    flex: 1;
}

.charGrid__small {
    font-size: 90%;
    color: lightgray;
}

.charGrid__large {
    font-size: 125%;
}

.charGrid__atb {
    grid-area: 4 / 1 / span 1 / span 9;
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.charGrid__atbOutline {
    width: 90%;
    height: 30%;
    margin: 1%;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.charGrid__atbFill {
    background: white;
    height: 100%;
}

.charGrid__skills {
    grid-area: 1 / 10 / span 4 / span 3;
    /*background: orange;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.charGrid__skillName {
    font-size: 200%;
}

.charGrid__border {
    border: 2px solid darkGray;
    border-radius: 3px;
}

.targetLine {
    transform-origin: 0 100%;
    height: 8px; /* Line width of 3 */
    background: pink; /* Black fill */
    border-radius: 5px;
    pointer-events: none;
}

.targetLine__targetable {
    background: green;
}

.targetLine__notTargetable {
    background: red;
}
