/* some style */

html {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
}

.screen__background {
    background: black;
    color: white;
    width: calc(1.6 * 95vh);
    height: 95vh;
}

.battleViz {
    grid-area: 2 / 1 / span 5 / span 20;
    border: 4px solid lightgray;
    border-radius: 8px;
    margin: 2px;
}

.screen__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(12, minmax(auto,1fr)) / repeat(20, minmax(auto,1fr));
    grid-gap: 1% 1%;
    font-size: 2.1vmin;
    line-height: 0;

}

.enemyCard {
    margin: 10px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.charGrid {
    margin-left: 3%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(12, 1fr);
    width: 100%;
    height: 100%;
}





.leftPad {
    padding-left: 2%;
}

.leftPadLg {
    padding-left: 10%;
}

.charGrid__name {
    grid-area: 1 / 1 / span 2 / span 5;
    /*background: blue;*/
    display: flex;
    align-items: center;
}

.charGrid__primaryStats {
    grid-area: 1 / 6 / span 2 / span 4;
    /*background: pink;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.charGrid__primaryStatsChild {
    font-size: 155%;
}

.charGrid__secondaryStats {
    grid-area: 3 / 1 / span 1 / span 9;
    /*background: green;*/
    display:flex;
    align-items: center;
}

.charGrid__atb {
    grid-area: 4 / 1 / span 1 / span 9;
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.charGrid__atbOutline {
    width: 90%;
    height: 30%;
    margin: 1%;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.charGrid__atbFill {
    background: white;
    height: 100%;
}

.charGrid__skills {
    grid-area: 1 / 10 / span 4 / span 3;
    /*background: orange;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.charGrid__skillName {
    font-size: 200%;
}

.charGrid__border {
    border: 2px solid darkGray;
    border-radius: 3px;
}